[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Qasmixer
Comment=qasmixer
Exec=qasmixer --tray
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

